In [29]:
import pandas as pd

In [30]:
pd.read_csv("E:\MRS\spotify_millsongdata.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Taibang\AppData\Local\Temp\ipykernel_30920\1534234260.py:1: SyntaxWarning: invalid escape sequence '\M'
  pd.read_csv("E:\MRS\spotify_millsongdata.csv")

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [31]:
df.head(5)

,artist,song,text
0,Norah Jones,Stuck,you shove your way \r through the room from t...
1,Phineas And Ferb,You're Going Down,you're goin' down) you're goin' down when i ge...
2,Frank Zappa,Conehead,"you were right, i was wrong \r please forgive..."
3,Red Hot Chili Peppers,Buckle Down,hah! \r on the ice \r no holdin' \r my soul...
4,Glee,Extraordinary Merry Christmas,"it came into my dreams last night \r a great,..."

In [32]:
df.tail(5)

,artist,song,text
4995,Sam Smith,How Will I Know,"oh it's you i know, you're the one i dream of ..."
4996,Coldplay,Army Of One,"[verse 1] \r been around the world, the wonde..."
4997,Zero 7,Over Our Heads,close your eyes \r can't you see it's burning...
4998,Tool,Reflection,"i have come curiously close to the end, down ..."
4999,Gary Numan,Pure,i want to feel you hesitate \r i want to feel...

In [33]:
df.shape

(5000, 3)

In [34]:
df.isnull().sum()

artist    0
song      0
text      0
dtype: int64

In [35]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

KeyError: "['link'] not found in axis"

In [ ]:
df.head(10)

In [ ]:
df['text'][0]

In [ ]:
# df = df.sample(5000)

In [ ]:
df.shape

In [ ]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [ ]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [ ]:
similarity[0]

In [ ]:
df[df['song'] == 'Crying Over You']

In [ ]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [ ]:
recommendation('Crying Over You')

In [ ]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))